<ion-header>
  <section class="employeee-profile-details-area common-bg">
    <div class="container">
      <div class="employeee-profile-details-inner">
        <!-- Start::Start employeee profile details search area -->
        <div class="employeee-profile-details-search-area">
          <div class="search-header d-flex justify-content-between align-items-center">
            <div>
              <h3>Search details</h3>
            </div>
            <div class="cross-icon">
              <a href="#"><img src="assets/images/cross.png" alt=""></a>
            </div>
          </div>
          <div class="input-seacrh area">
            <div class="row">
              <div class="col-lg-12">
                
                <div class="our-employeee-details-search-area">
                  <input type="text" name="" placeholder="Search by employee name or employee Code">
                  <img src="assets/images/search-icon.png" alt="" class="search-icon">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End::Start employeee profile details search area -->
      </div>
    </div>
  </section>
</ion-header>