<ion-content [fullscreen]="true">
    <nav class="navbar navbar-expand-xl navbar-light fixed-top">
      <div class="container">
        <!-- Brand -->
        <a class="navbar-brand wow slideInLeft" href="#">Tom <i class="fas fa-heartbeat hvr-pulse"></i> Grace<span
            class="nav-logo-image"></span></a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
              <a class="nav-link" href="#home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cuple">cuple</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#story">story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#events">event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#people">people</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#gallery-sec">galley</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#rsvp">rsvp</a>
            </li>


          </ul>
        </div>
      </div>
    </nav>



    <section class="section-1">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6 content offset-xl-6">
            <div class="wrap-content">
              <img src="assets/img/section1/invitationbg.png" alt="Los Angeles">
              <div class="text-box">
                <p class="small-text">join us</p>
                <h3 class="">tom</h3>
                <p class="small-text">and</p>
                <h3 class="">grace</h3>
                <p class="small-text">08.09.2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- story section -->
    <section class="section-4" id="story">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 heading">
            <h1>story</h1>
          </div>

        </div>
        <!--slide 1-->
        <div class="row story-content">

          <div class="col-xl-6 p-0">
            <img src="assets/img/section4/story1.jpeg">
          </div>

          <div class="col-xl-6">
            <h1>How we met?</h1>
            <h5 class="date">15 Sep 2014</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source.
              It is a long established fact.</p>
          </div>
        </div>
        <!--slide 2-->
        <div class="row  story-content2">


          <div class="col-xl-6">
            <h1>First date</h1>
            <h5 class="date">18 Oct 2014</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source.
              It is a long established fact.</p>
          </div>

          <div class="col-xl-6 p-0">
            <img src="assets/img/section4/story2.jpeg">
          </div>

        </div>


        <!--slide 3-->
        <div class="row story-content3">

          <div class="col-xl-6 image-container">
            <div class="row">

              <div class="col-xl-6 col-md-6 col-6 image1">
                <img src="assets/img/section4/happyhour1.jpeg">
              </div>

              <div class="col-xl-6 col-md-6 col-6 image2">
                <img src="assets/img/section4/happyhour2.jpeg">
              </div>

              <div class="col-xl-6 col-md-6 col-6 image3">
                <img src="assets/img/section4/happyhour3.jpeg">
              </div>

              <div class="col-xl-6 col-md-6 col-6 image4">
                <img src="assets/img/section4/happyhour4.jpeg">
              </div>

            </div>
          </div>

          <div class="col-xl-6 text-container">
            <h1>Happy hours..</h1>
            <h5 class="date">14 Jan 2016</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source.
              It is a long established fact.</p>
          </div>
        </div>

        <!--slide 4-->
        <div class="row story-content4">
          <div class="col-xl-6">
            <h1>We are engaged</h1>
            <h5 class="date">20 Dec 2017</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source.
              It is a long established fact.</p>
          </div>


          <div class="col-xl-6 video p-0">
            <a data-fancybox href="https://www.youtube.com/watch?v=YKnXWyEUns0">
              <img class="video-thumb" src="img/section4/video.jpeg">
              <!-- <img class="play-button" src="img/section4/play.png">-->
              <i role="button" class="fas fa-play hvr-grow play-button"></i>

            </a>
          </div>


        </div>


      </div>
    </section>

</ion-content>
