/************************** RESPONSIVE ********************/
@media(max-width:1920px){
	.container{
		max-width:calc(100% - 100px);
		width:100%;
		margin:0 auto;
	}
}
@media(max-width:1700px){
	.employeee-profile-info {
		max-width: 1000px;
		margin-top: 50px;
	}
	.employeee-profile-info h3 {
		font-size:18px;
	}
	.table-heading h5 {
		font-size: 13px;
	}
	.employeee-benefits-type ul li a{
		font-size:18px;
		border-radius:12px;
	}
	.employeee-benefits-type ul li {
		width: 170px;
		height: 55px;
		background: #F0F5FF;
		border-radius: 12px;
		margin-right: 25px;
	}
	h1{
		font-size:42px;
	}
	.employeee-profile-details-area p {
		font-size:14px;	
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 70px;
	}
	.main-heading h4 {
		font-size:17px;
	}
	.main-heading img {
		width: 250px;
	}
	.profile-id img {
		width: 35%;
	}
	.employeee-personal-details-heading .profile-id h4 {
		right:5%;
		font-size:15px;
	}
	.employeee-profile-picture img {
		width: 80%;
	}
	.reporting-page-profile{
		max-width:100%;
		margin-top:0;
	}
	.score-box {
		width: 100%;
		height: 30px;
	}
	.table-left-row h3 {
		font-size:15px;
	}
	.table-left-row h4 {
		font-size:14px;
	}
	.score{
		font-size:28px;
		top:-35px;
	}
	.table-left-row {
		padding-top:58px;
		padding-bottom:30px;
	}
	.each-defination-box p {
		padding: 0 5px 0 35px;
	}
	.table-right-row .table-cell {
		position: relative;
		padding: 10px 20px;
	}
	.defination-top-content {
		padding: 0px;
	}
	.each-defination-box h5 {
		font-size:8px;
	}
	.each-defination-box {
		height: 65px;
	}
	.progress {
		width: 150px;
		height: 150px;
		margin-top: -100px;
    	margin-bottom: 15px;
	}
	.configural-box-heading h3 {
		font-family: 'Gilroy';
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 6px;
		text-align: center;
	}
	.each-configural-box p {
		font-size:19px;
		margin-top:20px;
	}
	.configural-box-content {
		width: 100%;
		height: 270px 
	}
	.each-configural-box {
		margin-top:100px;
	}
	.each-attribute-mapping h2 {
		padding-left:30px;
		font-size:14px;
	}
	.each-attribute-mapping .high-btn {
		font-size:14px;
	}
	.each-attribute-mapping span {
		font-size:12px;
	}
	.each-attribute-mapping {
		height:45px;
	}
	.each-attribute-mapping span {
		width:45px;
	}
	.attribute-mapping {
		padding: 15px;
	}
	.point-progress-bar-area {
		height:150px;	
	}
	.each-side-progress-bar span, .progress-bar-dividation span {
		font-size:22px;
	}
	.progress-bar-dividation {
		position: absolute;
		width: 1px;
		height: 25px;
	}
	.our-logo-area p{
		font-size:14px;
	}
	.our-content-area-wrapper h2{
		font-size:38px;
	}
	.our-content-area-wrapper {
		 padding-left: 0;
	}
	.our-content-area p {
		padding-bottom: 40px;
		font-size:14px;
	}
	.our-content-area {
		margin-top: 150px;
	}
	.aropalne-image img {
		width:50%;
	}
	.login-box-header {
		margin-bottom: 50px;
	}
	.login-box-wrapper {
		padding: 40px 20px;
	}
	.our-login-box-area h4 {
		font-size:15px;
	}
	.our-login-box-area h3 {
		font-size:21px;
		margin-top:7px;
	}
	.login-with-area {
		height:60px;
	}
	.each-login-with a {
		font-size:15px;
	}
	.each-input-area input {
		width: 100%;
		font-size: 15px;
		padding: 20px 0 20px 24px;
	}
	.login-box-main p {
		font-size:15px;
		margin-top:40px;
	}
	.forget-password {
		font-size:15px;
		margin-top:25px;
	}
	.login-btn-area {
		margin-top: 80px;
	}
	.common-btn {
		font-size:20px;
	}
	.each-input-area .send-otp {
		font-size:15px;
	}
	.main-btn-area button img {
		width: 23%;
		margin-left: 10px;
	}
	.main-btn-area button {
		font-size:20px;
		padding:17px 10px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 18px;
	}
	.employeee-Reporting-Details-table h5 {
		font-size:15px;
	}
	.search-header .cross-icon img {
		width: 45%;
	}
	.search-header h3 {
		font-size:21px;
	}
	.reporting-page-profile .col-lg-4 div {
		margin-top: 15px;
	}
}
@media(max-width:1560px){
	.container {
		max-width: calc(100% - 50px);
		width: 100%;
		margin: 0 auto;
	}
	.table-heading {
		border-radius: 20px;
	}
	.table-heading .table-cell {
		padding: 20px 0;
	}
	.employeee-profile-intro {
		margin-top: 30px;
	}
	.search-icon {
		width:30px;
	}
	.our-employeee-details-search-area input {
		font-size:18px;
	}
	.employeee-profile-intro-wrapper {
		border-radius: 25px;
		background: rgba(218, 36, 57, 0.09);
		padding: 30px 20px;
	}
	.employeee-benefits-type ul li {
		width: 150px;
		height: 55px;
	}
	.profile-id img {
		width: 37%;
	}
	.main-heading img {
		width: 270px;
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 65px;
	}
	.employeee-profile-details-area p {
		font-size: 12px;
	}
	h1{
		font-size:36px;
	}
	.employeee-profile-info {
		max-width: 960px;
		margin-top: 50px;
	}
	.employeee-benefits-type ul li a {
		font-size: 16px;
		border-radius: 12px;
	}
	.exit-arrow {
		width: 15%;
	}
	.each-configural-box p {
		font-size:19px;
	}
	.employeee-profile-info {
		max-width: 850px;
		margin-top: 50px;
	}
	.employeee-profile-info h3 {
		font-size: 16px;
	}
	.our-content-area h2 {
		margin-bottom: 30px;
		font-size:35px;
	}
	.common-btn {
		font-size: 18px;
	}
	.employeee-Reporting-Details-table h5 {
		font-size: 14px;
		padding-top:4px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 16px;
	}
	.search-header {
		padding: 14px 0;
	}
}
@media(max-width:1440px){
	.employeee-profile-info h3 {
		font-size: 14px;
	}
	.main-heading img {
		width: 215px;
	}
	.main-heading h4 {
		font-size: 14px;
	}
	.profile-id img {
		width: 30%;
	}
	.employeee-personal-details-heading .profile-id h4 {
		right: 5%;
		font-size: 12px;
	}
	.employeee-profile-info {
		margin-top: 40px;
	}
	.employeee-profile-intro-wrapper {
		border-radius: 25px;
		background: rgba(218, 36, 57, 0.09);
		padding: 25px 20px;
	}
	.search-icon {
		left: 20px;
	}
	.search-icon {
		width: 23px;
	}
	.our-employeee-details-search-area input {
		font-size: 15px;
		padding-left:48px;
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 57px;
	}
	.employeee-benefits-type ul li {
		width: 140px;
		height: 47px;
	}
	.employeee-benefits-type ul li a {
		font-size: 14px;
		border-radius: 12px;
	}
	.table-heading .table-cell {
		padding: 16px 0;
	}
	.table-heading h5 {
		font-size: 12px;
	}
	.table-heading {
		border-radius: 10px;
	}
	.table-left-row h3 {
		font-size: 12px;
	}
	.table-left-row h4 {
		font-size: 12px;
	}
	.score {
		font-size: 22px;
		top: -30px;
	}
	.score-box {
		width: 100%;
		height: 25px;
	}
	.table-left-row {
		padding-top: 45px;
		padding-bottom: 22px;
	}
	.table-right-row .table-cell::after {
		top:10px;
	}
	.each-defination-box h5 {
		font-size: 7px;
	}
	.each-defination-box {
		height: 54px;
	}
	.each-defination-box {
		height: 54px;
	}
	.each-defination-box {
		border-radius: 0px 18px 18px 0px;
	}
	.each-defination-box div {
		border-radius: 18px 0px 0px 18px;
		width:35px;
	}
	.each-configural-box p {
		font-size: 16px;
	}
	.progress {
		width: 130px;
		height: 130px;
		margin-top: -85px;
		margin-bottom: 15px;
	}
	.progress-value > span {
		font-family: 'Gilroy';
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.progress-value > span strong {
		font-size: 19px;
	}
	.configural-box-heading h3 {
		font-family: 'Gilroy';
		font-size: 25px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 4px;
		text-align: center;
	}
	.configural-box-content {
		width: 100%;
		height: 210px;
	}
	.each-attribute-mapping span {
		width: 35px;
		font-size:10px;
	}
	.each-attribute-mapping h2 {
		padding-left: 30px;
		font-size: 12px;
	}
	.each-attribute-mapping .high-btn {
		font-size: 12px;
	}
	.each-attribute-mapping {
		height: 35px;
	}
	.team-correlation-wrapper h2 {
		font-size:25px;
	}
	.point-progress-bar-area {
		height: 120px;
	}
	.each-side-progress-bar span, .progress-bar-dividation span {
		font-size: 18px;
		bottom: -27px;
	}
	.progress-bar-dividation span {
		bottom: -22px;
	}
	.progress-bar-dividation{
		height:20px;
	}
	.amount-point img {
		width:10%;
	}
	.amount-point {
		top:-44px;
		font-size:13px;
	}
	.amount-point img {
		bottom:-20px;
	}
	.each-side-progress-bar .progress-bar-amount {
		width: 10px;
		height: 10px;
	}
	.correlation-group-heading h4 {
		font-size: 12px;
	}
	.progress-barline .negative-amount::after {
		content: '-1';
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
	.progress-barline .positive-amount::after {
		content: '-1';
		width: 40px;
		height: 40px;
		font-size: 18px;
	}
	#dropdown {
		position: relative;
		width: 300px;
	}
	#dropdown button {
		background: #C8DAFF61;
		width: 200px;
		height: 50px;
		border-radius: 20px;
		font-size: 13px;
	}
	#dropdown ul li a {
		width: 170px;
		height: 50px;
		line-height: 50px;
		font-size: 13px;
		border-radius: 20px;
	}
	.login-box-wrapper {
		padding: 30px 20px;
	}
	.login-box-header {
		margin-bottom: 35px;
	}
	.each-login-with a {
		font-size: 13px;
	}
	.login-with-area {
		height: 50px;
	}
	.login-box-main p {
		font-size: 13px;
		margin-top: 27px;
	}
	.our-login-box-area h3 {
		font-size: 17px;
		margin-top: 4px;
	}
	.our-login-box-area h4 {
		font-size: 13px;
	}
	.each-input-area input {
		width: 100%;
		font-size: 13px;
		padding: 17px 0 17px 20px;
	}
	.each-input-area .send-otp {
		font-size: 13px;
	}
	.common-btn {
		font-size: 15px;
		padding:16px 0;
	}
	.forget-password {
		font-size: 13px;
		margin-top: 20px;
	}
	.login-btn-area {
		margin-top: 70px;
	}
	h1 {
		font-size: 32px;
	}
	.our-logo-area p {
		font-size: 12px;
	}
	.our-content-area h2 {
		margin-bottom: 24px;
		font-size: 30px;
	}
	.our-content-area p {
		font-size:13px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 15px;
	}
	.main-btn-area button {
		font-size: 16px;
	}
	.search-header h3 {
		font-size: 18px;
	}
	.search-header .cross-icon img {
		width: 35%;
	}
	.employeee-image .imgae-area {
		width: 65px;
		height: 65px;
	}
	.employeee-name-id .name {
		font-size:20px;
	}
	.employeee-name-id .id {
		font-size:13px;
	}
	.each-search-employeee {
		padding-top: 18px;
		padding-bottom: 15px;
		position: relative;
	}
}
@media(max-width:1366px){
	.main-heading h4 {
		font-size: 13px;
		left:10px;
	}
	.main-heading img {
		width: 180px;
	}
	.employeee-personal-details-heading .profile-id h4 {
		font-size: 11px;
		right:4%;
	}
	.profile-id img {
		width: 27%;
	}
	.employeee-profile-intro-wrapper {
		padding: 15px 20px;
	}
	.employeee-benefits-type ul li {
		width: 120px;
		height: 43px;
	}
	.employeee-benefits-type ul li a {
		font-size: 12px;
	}
	.table-heading .table-cell {
		padding: 14px 0;
	}
	.our-employeee-details-search-area input {
		font-size: 13px;
	}
	.search-icon {
		width: 18px;
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 50px;
	}
	.exit-arrow {
		width: 12%;
	}
	.our-logo-area p {
		font-size: 9px;
	}
	h1{
		font-size:30px;
	}
	.progress {
		width: 115px;
		height: 115px;
	}
	.progress .progress-bar {
		border-width: 10px;
	}
	.configural-box-heading h3 {
		font-size: 20px;
	}
	.configural-box-heading .line {
		border: 1px solid;
		width: 70%;
		margin: 0 auto;
		height: 1px;
	}
	.progress-value > span {
		font-size: 30px;
	}
	.progress-value > span strong {
		font-size: 15px;
	}
	.each-configural-box p {
		font-size: 15px;
		margin-top:10px;
	}
	.configural-box-content {
		width: 100%;
		height: 190px;
	}
	.main-btn-area button {
		font-size: 13px;
		padding: 14px 0px;
	}
	.main-btn-area button img {
		width: 20%;
	}
	.search-header h3 {
		font-size: 16px;
	}
	.employeee-Reporting-Details-table h5 {
		font-size: 12px;
		padding-top: 4px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 13px;
	}
	.our-login-box-area {
		border-radius: 30px;
	}
	.aropalne-image img {
		width: 60%;
		top:3px;
	}
	.each-login-with a {
		font-size: 11px;
	}
	.login-box-wrapper {
		padding: 30px 11px;
	}
}
@media(max-width:1296px){
	.employeee-profile-info {
		max-width: 760px;
	}
	.employeee-profile-info h3 {
		font-size: 13px;
	}
	.employeee-profile-details-area p {
		font-size: 11px;
	}
	.table-heading h5 {
		font-size: 11px;
	}
	.table-left-row h3 {
		font-size: 11px;
	}
	.table-left-row h4 {
		font-size: 11px;
	}
	.score-box {
		width: 100%;
		height: 22px;
	}
	.score {
		font-size: 19px;
		top: -25px;
	}
	.each-configural-box p {
		font-size: 14px;
		margin-top:10px;
	}
	.each-configural-box {
		margin-top: 60px;
	}
	.progress {
		width: 100px;
		height: 100px;
		margin-top: -70px;
    	margin-bottom: 15px;
	}
	.configural-box-heading h3 {
		font-size: 16px;
		padding-bottom:3px;
		letter-spacing: 3px;
	}
	.each-configural-box p {
		font-size: 13px;
	}
	.progress-value > span strong {
		font-size: 12px;
	}
	.progress-value > span {
		font-size: 23px;
	}
	.configural-box-heading .line {
		border: 1px solid;
		width: 60%;
		margin: 0 auto;
		height: 1px;
	}
	.team-correlation-wrapper {
		padding: 0 40px;
	}
	.team-correlation-wrapper h2 {
		font-size: 22px;
	}
	.each-side-progress-bar span, .progress-bar-dividation span {
		font-size: 16px;
		bottom: -22px;
	}
	.progress-bar-dividation span {
		bottom: -18px;
	}
	.point-progress-bar-area::before{
		border-radius: 30px 0 0 30px;
	}
	.point-progress-bar-area::after {
		border-radius: 0px 30px 30px 0px;
	}
	.point-progress-bar-area {
		height: 110px;
	}
	.amount-point {
		top: -37px;
		font-size: 12px;
	}
	.amount-point img {
		bottom: -17px;
	}
	.progress-barline .negative-amount::after {
		content: '-1';
		width: 32px;
		height: 32px;
		font-size: 15px;
	}
	.progress-barline .positive-amount::after {
		content: '+1';
		width: 32px;
		height: 32px;
		font-size: 15px;
	}
	#dropdown{
		width:285px;
	}
	#dropdown ul li a {
		width: 155px;
	}
	.our-content-area {
		margin-top: 115px;
	}
	.our-content-area h2 {
		margin-bottom: 10px;
		font-size: 25px;
	}
	.our-content-area p {
		font-size: 12px;
	}
	.login-with-area {
		height: 45px;
	}
	.each-login-with a {
		font-size: 11px;
	}
	.login-box-main p {
		font-size: 11px;
		margin-top: 16px;
	}
	.each-input-area input {
		width: 100%;
		font-size: 12px;
		padding: 14px 0 14px 15px;
	}
	.each-input-area .send-otp {
		font-size: 11px;
	}
	.login-btn-area {
		margin-top: 60px;
	}
	.each-input-area {
		margin-top: 25px;
	}
	.common-btn {
		font-size: 13px;
		padding: 12px 0;
	}
	.forget-password {
		font-size: 12px;
		margin-top: 18px;
	}
	.our-login-box-area h4 {
		font-size: 12px;
	}
	.our-login-box-area h3 {
		font-size: 15px;
		margin-top: 3px;
	}
}
@media(max-width:1150px){
	.each-defination-box h5 {
		font-size: 5px;
	}
	.employeee-profile-details-area p {
		font-size: 10px;
	}
	.each-defination-box {
		height: 50px;
		border-radius:0 14px 14px 0;
	}
	.each-defination-box div {
		border-radius: 14px 0px 0px 14px;
		width: 25px;
	}
	.each-defination-box p {
		padding: 0 5px 0 20px;
	}
	.table-heading h5 {
		font-size: 10px;
	}
	.employeee-profile-info {
		max-width: 680px;
	}
	.employeee-profile-info h3 {
		font-size: 12px;
	}
	.main-heading h4 {
		font-size: 11px;
	}
	.main-heading img {
		width: 177px;
	}
	.employeee-benefits-type ul li {
		width: 95px;
		height: 40px;
	}
	.employeee-benefits-type ul li a {
		font-size: 11px;
	}
	.each-configural-box {
		margin-top: 60px;
	}
	.progress {
		width: 90px;
		height: 90px;
		margin-top: -65px;
    	margin-bottom: 15px;
	}
	.configural-box-heading h3 {
		font-size: 15px;
		padding-bottom:3px;
		letter-spacing: 2px;
	}
	.each-configural-box p {
		font-size: 12px;
	}
	.progress-value > span strong {
		font-size: 10px;
	}
	.progress-value > span {
		font-size: 20px;
	}
	.employeee-configural-table .col-lg-4 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.point-progress-bar-area {
		height: 100px;
	}
	.each-side-progress-bar span, .progress-bar-dividation span {
		font-size: 14px;
	}
	.team-correlation-wrapper h2 {
		font-size: 20px;
	}
	.employeee-personal-details-heading .profile-id h4 {
		font-size: 11px;
		right: 2%;
	}
	.profile-id img {
		width: 23%;
	}
	.main-heading img {
		width: 158px;
	}

}
@media(max-width:1024px){
	.employeee-profile-info {
		max-width: 580px;
	}
	.employeee-profile-info h3 {
		font-size: 11px;
	}
	.main-heading img {
		width: 158px;
	}
	.main-heading h4 {
		left:10px;
	}
	.employeee-personal-details-heading .profile-id h4 {
		font-size: 10px;
		right: 2%;
	}
	.profile-id img {
		width: 22%;
	}
	.search-icon {
		width: 15px;
	}
	.our-employeee-details-search-area input {
		font-size: 11px;
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 43px;
	}
	h1{
		font-size: 28px;
	}
	.each-configural-box-wrapper {
		padding: 10px 20px 0px 20px
	}
	.progress {
		margin-top: -55px;
	}
	.each-attribute-mapping span {
		width: 30px;
		font-size: 10px;
	}
	.each-attribute-mapping {
		height: 30px;
	}
	.each-attribute-mapping .high-btn {
		font-size: 11px;
	}
	.each-attribute-mapping h2 {
		padding-left: 30px;
		font-size: 11px;
	}
	.each-attribute-mapping span {
		width: 30px;
		font-size: 10px;
	}
	.team-correlation-wrapper {
		padding: 0px 20px;
	}
	.correlation-group-heading {
		position: relative;
		width: 7%;
		margin: 15px 0;
	}
	.correlation-group-heading h4 {
		font-size: 11px;
	}
	.team-correlation-wrapper h2 {
		font-size: 18px;
	}
	#dropdown{
		width:260px;
	}
	#dropdown ul li a {
		width: 140px;
	}
	.aropalne-image img {
		width: 55%;
		top: 50px;
	}
}
@media(max-width:991px){
	.employeee-profile-details-area {
		padding-top:20px;
	}
	.employeee-profile-details-inner{
		background-color:#fff;
		border-radius:30px;
	}
	.table-heading{
		display:none;
	}
	.table-right-row .table-cell{
		padding-top:30px;
		position:relative;
	}
	.table-right-row .table-cell:nth-child(1)::before{
		content:'Defination';
		/*position:absolute;*/
		top:12px;
		left:20px;
		color: #343333;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.table-right-row .table-cell:nth-child(2)::before{
		content:'Outcome';
		/*position:absolute;*/
		top:12px;
		left:20px;
		color: #343333;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.table-right-row .table-cell:nth-child(3)::before{
		content:'Upside';
		position:absolute;
		top:12px;
		left:20px;
		color: #343333;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.table-right-row .table-cell:nth-child(4)::before{
		content:'Downside';
		position:absolute;
		top:12px;
		left:20px;
		color: #343333;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	.employeee-benefits-type ul li{
		background-color:transparent;
		margin-right:20px;
		width:100%;
		height:100%;
	}
	.employeee-benefits-type ul li a{
		width:100%;
		height:100%;
		position:relative;
	}
	.employeee-benefits-type ul li .active:after{
		content:'';
		position:absolute;
		bottom:-20px;
		width:100%;
		height:5px;
		background-color:#DA2439;
		transition: width 0.3s ease;
	}
	.employeee-benefits-type ul li .active {
		color: #DA2439;
		background:none;
		border:none;
		border-radius:0;
	}
	.employeee-profile-details-search-area {
		padding:20px 20px 0 20px;
	}
	.employeee-profile-intro {
		margin: 20px;
	}
	.exit-arrow {
		width: 19%;
	}
	.employeee-benefits-main-area {
		background-color: #F9FBFF;
	}
	.employeee-benefits-area-wrapper {
		padding:0;
	}
	.employeee-benefits-type{
		padding:10px 0 20px;
		border-bottom: 5px solid #F5F5F5;
	}
	.employeee-benefits-type ul li a {
		font-size:13px;
	}
	.each-table-row{
		background-color:#fff;
	}
	.employeee-hds-table .table-left-row {
		height:80px;
	}
	.employeee-benefits-main-area .row > .col-lg-3 {
		margin-bottom: 10px;
	}
	.employeee-benefits-main-area .row > .col-lg-9 {
		margin-bottom: 40px;
	}
	.employeee-benefits-main-area .row > .col-md-12{
		margin-bottom:20px;
	}
	.employeee-derailers-table .table-heading{
		display:flex !important;
	}
	.employeee-derailers-table .row > .col-lg-9 {
		margin-bottom:20px;
	}
	.employeee-derailers-table .table-right-row .table-cell:nth-child(1)::before {
		display:none;
	}
	.employeee-derailers-table .table-right-row .table-cell {
		padding:0 15px;;
	}
	.point-progress-bar-area {
		height: 90px;
	}
	.each-side-progress-bar span, .progress-bar-dividation span {
		font-size: 13px;
		bottom: -18px;
	}
	.progress-bar-dividation span {
		bottom: -15px;
	}
	.progress-bar-dividation{
		height:15px;
	}
	.progress-barline .negative-amount::after {
		content: '-1';
		width: 28px;
		height: 28px;
		font-size: 13px;
	}
	.progress-barline .positive-amount::after {
		content: '+1';
		width: 28px;
		height: 28px;
		font-size: 13px;
	}
	.amount-point {
		top: -36px;
		font-size: 11px;
	}
	.each-side-progress-bar .progress-bar-amount {
		width: 8px;
		height: 8px;
	}
	#dropdown ul li a {
		width: 130px;
		height: 40px;
		line-height: 40px;
		font-size: 11px;
		border-radius: 16px
	}
	#dropdown button {
		background: #C8DAFF61;
		width: 200px;
		height: 40px;
		border-radius: 16px;
		font-size: 11px;
	}
	#dropdown {
		width: 250px;
	}
	.employeee-profile-picture img {
		width: 100%;
	}
	.employeee-Reporting-Details {
		padding: 0;
	}
	.our-reporting-page {
		margin: 0;
		margin-top: 30px;
	}
	.our-content-area h2 {
		font-size: 23px;
	}
	.hogan-banner-wrapper .row .col-lg-3{
		display:none;
	}
	.our-content-area {
		margin-top: 90px;
	}
	.common-btn {
		font-size: 12px;
	}
	
}
@media(max-width:876px){
	.each-configural-box p {
		font-size: 11px;
	}
	.employeee-configural-table .col-lg-4 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.each-configural-box-wrapper {
		padding: 10px 15px 0px 15px;
	}
	.progress {
		margin-top: -50px;
		width:80px;
		height:80px;
	}
	.employeee-configural-table {
		padding: 10px 25px 0px;
	}
	.employeee-profile-picture img {
		width: 100%;
	}
	.main-heading img {
		width: 200px;
	}
	.profile-id img {
		width: 27%;
	}
	.employeee-profile-info {
		margin-top: 30px;
	}
	.our-logo-area p{
		font-size:8px;
	}
	.employeee-Reporting-Details-wrapper .main-heading{
		width:160px;
	}
	.login-box-wrapper {
		padding: 20px 10px;
	}
	.login-with-area {
		height: 40px;
	}
	
}
@media(min-width:768px){
	.employeee-profile-name{
		display:none !important;
	}
	.employeee-configural-table {
		padding: 25px 20px 0px;
	}
	.table-left-row .progress{
		display:none;
	}
	.mobile-login-page{
		display:none;
	}
}
@media(max-width:767px){
	.configural-box-main:before {
		transform: rotate(183deg) scale(.7) !important;
	}
	/* search area */
	.search-header {
		padding: 3px 0;
	}
	.search-end-text h4 {
		font-size:18px;
	}
	.search-end-text {
		padding-top: 15px;
	}
	.recent-searches-box .each-recent-searches-box {
		width: 50%;
	}
	.search-header div h3{
		display:none;
	}
	.cross-icon{
		display:none;
	}
	.search-results-area{
		display:flex;
		justify-content:space-between;
	}
	.each-search-employeee {
		width:50%;
	}
	.each-search-employeee::after {
		display:none;
	}
	.search-results-main {
		display:flex;
		flex-direction: column;
		align-items:center;
		padding: 30px 0;
		border-radius: 32px;
		background: rgba(200, 218, 255, 0.11);
		margin-right: 20px;
		margin-bottom: 20px;
		text-align:center;
	}
	.search-results {
		height: auto;
	}
	.employeee-main-content {
		background-color: transparent;
	}
	.each-recent-searches-box .imgae-area, .employeee-image .imgae-area {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-color: #D9D9D9;
		margin-bottom: 10px;
		margin-right:0;
	}
	.recent-searches-box-wrapper h3, .employeee-name-id .name {
		color: #000;
		font-family: 'Gilroy';
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding-top: 10px;
	}
	.recent-searches-box-wrapper .red-code, .employeee-name-id .id {
		color: rgba(218, 36, 57, 0.30);
		font-family: 'Gilroy';
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		padding-top: 10px;
	}
	.each-recent-searches-box:nth-child(even) .recent-searches-box-wrapper{
		margin-right:0px;
	}
	.each-search-employeee:nth-child(even) .search-results-main{
		margin-right:0;
	}
	.search-results-wrapper {
		padding:0;
	}
	/* employee profile */
	/* .employeee-profile-intro {
		text-align:center;
	}
	.employeee-profile-picture img {
		width: 18%;
	}
	.employeee-personal-details-heading{
		display:flex;
		flex-direction: column-reverse;
	}
	.main-heading, .profile-id{
		position:unset;
	}
	.main-heading img, .profile-id img {
		display:none;
	}
	.main-heading h4 {
		color: #FFF;
		font-family: 'Gilroy';
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: capitalize;
		position: unset;
		transform: none;
	}
	.employeee-personal-details-heading .profile-id h4 {
		position: unset;
		transform: none;
		text-align: center;
	}
	.employeee-Reporting-Details-wrapper .main-heading{
		display:none;
	}
	.employeee-Reporting-Details {
		padding:0px;
		background-color: #fff;
		border-radius: 30px;
		margin-top: -18px;
	} */
	.employeee-benefits-area-wrapper {
		padding: 0px;
	}
	.employeee-benefits-area {
		margin-top:0;
	}
	.employeee-benefits-type{
		padding:20px 0;
	}
	.our-logo-area{
		display:none;
	}
	.exit-arrow{
		display:none;
	}
	.employeee-profile-info{
		width:100%;
	}
	.employeee-personal-info > div{
		width:33.3%;
		display:flex;
		flex-direction: column-reverse;
		text-align:center;
		margin-bottom:20px;
	}
	.employeee-personal-details-heading{
		display:none !important;
	}
	.employeee-personal-info{
		margin:0 -70px;
	}
	.employee-profile{
		display:flex;
	}
	.employeee-profile-picture{
		width:22%;
	}
	.employeee-profile-picture img {
		width:80%;
	}
	.employeee-profile-name h4{
		color: #000;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
	}
	.employeee-profile-name .profile-id h4{
		color:#DA2439;
		padding-bottom:5px;
	}
	.employeee-profile-info {
		margin-top: 10px;
	}
	.employeee-profile-intro-wrapper {
		padding:20px 25px 10px 25px;
	}
	.table-left-row .table-cell{
		width:100% !important;
	}  
	  .score-box {
		width: 50px;
		height: 50px;
		position:relative;
		display:grid;
		place-items: center;
		border-radius:50%;
		-webkit-border-radius:50%;
		-moz-border-radius:50% ;
	}
	.table-left-row .table-cell {
		position: unset;
	}
	.table-left-row h3 {
		position: absolute;
		bottom: 25px;
		left: 110px;
		top:unset;
		transform: none;
		color:#2EBA0B;
		font-size:12px;
		font-weight:500;
	}
	.table-left-row h4 {
		position: absolute;
		top: 36px;
		left: 110px;
		transform: none;
		color:#343333;
		font-weight:700;
		font-size:13px;
	}
	.table-left-row {
		position:relative;
	}
	.table-heading{
		display:none;
	}
	.table-left-row .table-cell:nth-child(1){
		order:2 !important;
	}
	.table-left-row .table-cell:nth-child(2){
		order:1 !important;
	}
	.table-left-row .table-cell:nth-child(3){
		order:3 !important;
	}
	.table-right-row .table-cell:nth-child(3){
		display:none;
	}
	.table-right-row .table-cell:nth-child(4){
		display:none;
	}
	.table-right-row {
		border:none;	
	}
	.table-right-row .table-cell{
		display:block;
		width:100% !important;
	}
	.table-right-row .table-cell::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #D2DFFA;
		position: absolute;
		top: 0px;
		right: 0;
	}
	.employeee-benefits-main-area{
		background-color:#f2f5fe;
		/*margin-top: 15px;*/
	}
	.employeee-benefits-main-area .row > div {
		margin-bottom:0;
	}
	.each-table-row{
		background-color:#fff !important;
	}
	.table-left-row{
		border-radius:15px 15px;;
		margin-top:20px;
	}
	.table-right-row{
		border-radius:0 0 30px 30px;
	}
	.each-table-row .table-cell{
		padding:15px 0;
		/*padding-top: 25px;*/
	}
	.table-row{
		padding:0 40px;
	}
	.table-left-row{
		display:flex;
	}
	.employeee-hds-table .table-left-row {
		padding: 0 40px;
	}
	.each-defination-box {
		background-color:#fff;
		border-radius:0;
	}
	.each-defination-box div {
		background-color: transparent !important;
		border-radius:0;
	}
	.upside-content h5, .upside-content p{
		color:#2EBA0B !important;
	}
	.downside-content h5, .downside-content p{
		color:#DA2439 !important;
	}
	.employeee-hds-table .table-right-row .table-cell::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #D2DFFA;
		position: absolute;
		top: 0px;
		right: 0;
	}
	.table-right-row .table-cell:last-child::after {
		display:block;
	  }
	.each-defination-box p {
		padding: 0 5px 0 20px;
	}
	.each-defination-box div h5{
		position:relative;
		font-size:7px;
	}
	.each-defination-box .upside h5::after{
		content:'';
		position:absolute;
		width:100%;
		height:1px;
		left:0;
		bottom:-3px;
		background-color:#2EBA0B;	
	}
	.each-defination-box .downside h5::after{
		content:'';
		position:absolute;
		width:100%;
		height:1px;
		right:0;
		bottom:-3px;
		background-color:#DA2439;	
	}
	.employeee-hds-table .each-table-row {
   		height: auto;
	}
	/* score-box-change */
	.table-cell .score-box{
		display:none;
	}
	.progress {
		margin:0;
		margin-left:0 !important;
		width: 60px;
    	height: 60px;
	}
	.employeee-benefits-main-area .row > .col-lg-3 {
		margin-bottom: 0;
	}
	.table-right-row .table-cell:nth-child(1)::before {
		content: 'Defination';
		top: 10px;
		left: 0px;
	}
	.table-right-row .table-cell:nth-child(2)::before {
		content: 'Outcome';
		top: 10px;
		left: 0px;
	}
	.table-right-row p {
		font-size: 12px;
	}
	.employeee-benefits-main-area .row > .col-lg-9 {
		margin-bottom: 10px;
	}
	.each-defination-box div {
		width: 40px;
	}
	.table-left-row::before, .configural-box-main::before{
		content:url(../images/arrow.png);
		position:absolute;
		right:40px;
		top:40%;
		transform: scale(.7);
	}
	.configural-box-heading .line {
		display:none;
	}
	.employeee-configural-table {
		padding: 0px;
	}
	.configural-box-main{
		margin-top:-60px;
		padding-left:80px;
		padding-right:60px;
	}
	.configural-box-heading h3 {
		text-align:left;
		color: #343333;
		font-family: 'Gilroy';
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: capitalize;
		padding-bottom: 0px;
    	letter-spacing: normal;
	}
	.each-configural-box p {
		font-size: 12px;
	}
	.each-configural-box {
		box-shadow: none;;
	}
	.configural-box-content {
		width: 100%;
		height: 100%;
	}
	.each-configural-box {
		margin-top: 20px;
	}
	.team-correlation-wrapper h2{
		display:none;
	}
	.progress-barline {
		position: relative;
		background-color: transparent;
		width: 100%;
		height: auto;
		border-bottom: 2px dashed #B6BAC6;
		margin-left:100px;
		margin-right:30px;
	}
	.point-progress-bar-area {
		background-color:#fff;
	}
	.point-progress-bar-area::before {
		display:none;
	}
	.point-progress-bar-area::after {
		display:none;
	}
	.employeee-profile-details-area {
		background-color: #f2f5fe;
	}
	.each-side-progress-bar .progress-bar-amount {
		width: 0;
		height: 0;
	}
	.progress-barline .positive-amount::after {
		content: '+1';
		width: auto;
		height: auto;
		background-color: transparent;
		position: absolute;
		top: 5px;
		transform: unset;
		right: -6px;
		border-radius: unset;
		border: none;
		z-index: 2;
		font-family: 'Gilroy';
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #B6BAC6;
	}
	.progress-barline .negative-amount::after {
		content: '-1';
		width: auto;
		height: auto;
		background-color: transparent;
		position: absolute;
		top: 5px;
		transform: unset;
		left: -6px;
		border-radius: unset;
		border: none;
		z-index: 2;
		font-family: 'Gilroy';
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #B6BAC6;
	}
	.correlation-group-heading h4 {
		color: #000;
		font-family: 'Gilroy';
		font-size: 13px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		position: absolute;
		top:unset;
		bottom: -45px;
		left: 30px;
		transform: unset;
		z-index: 2;
	}
	.correlation-group-heading img{
		display:none;
	}
	.progress-bar-dividation{
		display:none;
	}
	.amount-point {
		border:none;
		top:-24px;
	}
	.amount-point::after{
		content:url(../images/scale-point.png);
		position:absolute;
		left:47%;
		top:unset;
		bottom:-18px;
		transform: translatex(-50%);
		transform: scale(.7);
	}
	.amount-point img {
		display:none;
	}
	.each-side-progress-bar span {
		font-size: 13px;
		bottom: -24px;
		color:#B6BAC6;
	}
	.point-progress-bar-area {
		height: 75px;
		border-radius: 30px;
	}
	.progress-value > span {
		color: #343333;
	}
	.employeee-benefits-type ul li:nth-child(5){
		display:none;
	}
	.progress-value span strong{
		display:none;
	}
	.each-configural-box-wrapper {
		padding: 20px 15px 10px 15px;
	}
	.search-page .employeee-profile-details-search-area {
		background-color:#fff !important;
		border-radius:30px;
	} 
	.our-reporting-page {
		margin-top:20px;
	}
	.employeee-Reporting-Details-wrapper .main-heading{
		display:none;
	}
	.employeee-Reporting-Details-wrapper {
		padding: 0px 30px;
	}
	.main-btn-area button:nth-child(1){
		display:none;
	}
	.main-btn-area{
		float:right;
	}
	.our-reporting-page .employeee-profile-picture{
		display:flex;
		justify-content:center;
		width:100%;
	}
	.our-reporting-page .employeee-profile-picture img{
		width:20%;
	}
	.our-reporting-page .employeee-profile-name{
		text-align:center;
		margin-top:10px;
	}
	.employeee-Reporting-Details-table h5 {
		font-size: 11px;
		padding-top: 0;
		padding-bottom: 4px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 12px;
	}
	.main-btn-area button {
		width:200px;
		border-radius:15px;
		padding:13px 0;
		font-size:12px;
	}
	.employeee-Reporting-Details-table .row div {
		margin-top: 30px;
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
		height:100%;
	}
	.employeee-profile-details-area {
		padding-bottom: 20px;
		padding-top:0px;
	}
	.common-bg{
		padding-top:0;
	}
	.reporting-page-profile .col-lg-4 div {
		text-align: center;
	}
	.hogan-banner-wrapper{
		display:none;
	}
	.employeee-profile-info.reporting-page-profile .row .col-4{
		padding:0px 8px
	}
	.each-table-content {
		/*padding:0px 15px;*/
	}
	/* .employeee-profile-details-search-area{
		display:none;
	} */
	/*.employeee-profile-details-area{
		padding-top:0px;
	}*/
	.employeee-profile-intro {
		margin: 0px -15px;
		padding: 15px 15px;
		background: #fff;
	}
	.employeee-benefits-type{
		margin:0px -15px;
		background: #fff;
		-webkit-box-shadow: 0px 4px 11px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 4px 11px -6px rgba(0,0,0,0.75);
		box-shadow: 0px 4px 11px -6px rgba(0,0,0,0.75);
		border-bottom: 0px solid #F5F5F5;
		position:relative;
	}
	.accordian-details{
		display:none;
	}
	.each-table-content {
		/*display:block !important;*/
		/*width: 100%;*/
	}
	#dropdown button{
		display:none;
	}
	#dropdown .open {
		display: block;
	}
	#dropdown .open ul {
		display: flex;
	}
	.relation-filter-dropdown{
		display: block !important;
		width:100%;
		background-color:#fff;
	}
	#dropdown ul{
		position: unset;
		border-radius: none;
		background-color:transparent
	}
	#dropdown ul li a {
		width: auto;
		height: auto;
		line-height: normal;
		font-size: 15px;
		border-radius: 0;
		padding:13px 20px 13px 13px;
		color:#B6BAC6;
		font-weight:700;
	}
	#dropdown ul li a span{
		display:none;
	}
	#dropdown ul li .active{
		color:#000 !important;
	}
}
@media (max-width:650px){
	.progress {
		width: 50px;
		height: 50px;
	}
	.progress-value > span {
		color: #343333;
		font-size:16px;
	}
	.table-left-row h3 {
		bottom: 22px;
		font-size: 11px;
	}
	.table-left-row h4 {
		top: 28px;
		font-size: 12px;
	}
	.table-left-row::before, .configural-box-main::before {
		transform: scale(0.6);
	}
	.configural-box-main:before {
		transform: rotate(183deg) scale(0.6) !important;
	}
	.employeee-benefits-type ul li a {
		font-size: 12px;
	}
	.employeee-personal-info {
		margin: 0 -40px;
	}
	.search-end-text h4 {
		font-size: 13px;
	}
	.recent-searches-box-wrapper h3, .employeee-name-id .name {
		font-size:18px;
	}
	.each-recent-searches-box .imgae-area, .employeee-image .imgae-area {
		width: 90px;
		height: 90px;
	}
	.recent-searches-box-wrapper .red-code, .employeee-name-id .id {
		font-size: 18px;
	}
	.search-results {
		margin-top: 18px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 11px;
	}
	.configural-box-main {
		margin-top: -60px;
		padding-left: 63px;
		padding-right: 50px;
	}
}
@media (max-width:576px){
	.table-row {
		padding: 0 20px;
	}
	.employeee-hds-table .table-left-row {
		padding: 0 20px;
	}
	.employeee-profile-name h4 {
			font-size:10px;
	}
	.employeee-profile-picture {
		width: 25%;
	}
	.employeee-profile-info h3 {
		font-size: 10px;
	}
	.employeee-benefits-type {
		padding: 12px 0;
	}
	.employeee-benefits-type ul li a {
		font-size: 11px;
	}
	.employeee-benefits-type ul li .active:after {
		bottom: -12px;
		width: 100%;
		height: 3px;
	}
	.table-left-row h4, .table-left-row h3 {
		left:90px;
	}
	.container {
		max-width: calc(100% - 30px);
		width: 100%;
		margin: 0 auto;
	}
	.employeee-benefits-main-area .row > .col-lg-3 {
		margin-bottom: 0px;
	}
	.employeee-benefits-main-area .row > .col-lg-9 {
		margin-bottom: 0px;
	}
	.each-side-progress-bar span {
		font-size: 11px;
		bottom: -20px;
	}
	.correlation-group-heading h4 {
		font-size: 11px;
		left: 15px;
	}
	.progress-barline {
		margin-left: 68px;
		margin-right: 25px;
	}
	.progress-barline .positive-amount::after, .progress-barline .negative-amount::after{
		font-size: 11px;
	}
	.amount-point::after {
		transform: scale(.6);
	}
	.amount-point {
		font-size:10px;
	}
	.each-configural-box p {
		font-size: 11px;
	}
	.table-right-row p {
		font-size: 11px;
	}
	.recent-searches-box-wrapper .red-code, .employeee-name-id .id {
		font-size: 15px;
	}
	.recent-searches-box-wrapper h3, .employeee-name-id .name {
		font-size: 15px;
	}
	.each-recent-searches-box .imgae-area, .employeee-image .imgae-area {
		width: 80px;
		height: 80px;
	}
	.our-reporting-page .employeee-profile-intro-wrapper {
		padding:20px;
	}
	.our-reporting-page .employeee-profile-picture img {
		width: 17%;
	}
	.reporting-page-profile{
		margin-top:0 !important;;
	}
	.employeee-Reporting-Details-table h5 {
		font-size: 10px;
	}
	.employeee-Reporting-Details-table h3 {
		font-size: 10px;
		word-break: break-all;
	}
	.reporting-page-profile h3{
		padding-bottom:0;
	}
	.login-page-wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top:120px;
	}
	.login-page-wrapper h5 {
		font-size:16px;
	}
	.login-page-wrapper h2 {
		font-size:35px;
	}
	#dropdown ul li a {
		font-size:14px;
	}
}
@media (max-width:480px){
	.employeee-profile-picture {
		width: 30%;
	}
	.employeee-profile-intro-wrapper {
		padding: 10px 15px 0px 15px;
	}
	/*.employeee-profile-intro {
		margin: 10px;
	}*/
	.employeee-personal-info {
		margin: 0 -25px;
	}
	.employeee-profile-details-area p {
		font-size: 9px;
	}
	.employeee-profile-info h3 {
		font-size: 9px;
		word-break: break-all;
	}
	.employeee-benefits-type ul li a {
		font-size: 10px;
	}
	.our-employeee-details-search-area input {
		font-size: 10px;
		padding-left:38px;
	}
	.search-icon {
		width: 12px;
	}
	.our-employeee-details-search-area {
		width: 100%;
		height: 36px;
	}
	.table-left-row h4 {
		font-size:11px;
		left:75px;
		top:26px;
	}
	.table-left-row h3{
		font-size:10px;
		left:75px;
		bottom:26px;
	}
	.progress-value > span {
		color: #343333;
		font-size: 13px;
	}
	.progress {
		width: 50px;
		height: 50px;
	}
	.progress .progress-bar {
		border-width: 8px;
	}
	.table-right-row .table-cell:nth-child(1)::before {
		font-size:11px;
	}
	.table-right-row .table-cell:nth-child(2)::before {
		font-size:11px;
	}
	.table-right-row p{
		font-size:10px;
	}
	.col-lg-3 .table-row {
		padding: 0 15px;
		margin-top: 10px;
	}
	.table-left-row::before, .configural-box-main::before{
		transform: scale(0.5);
	}
	.configural-box-main:before {
		transform: rotate(183deg) scale(0.5) !important;
	}
	.team-correlation-wrapper {
		padding: 0px 10px;
	}
	.correlation-group-heading h4 {
		font-size: 10px;
		left: 10px;
		bottom: -35px
	}
	.progress-barline {
		margin-left: 55px;
		margin-right: 16px;
	}
	.point-progress-bar-area {
		height: 55px;
		border-radius: 20px;
	}
	.each-side-progress-bar span {
		font-size: 10px;
	}
	.recent-searches-box-wrapper .red-code, .employeee-name-id .id {
		font-size: 13px;
		padding-top: 2px;
	}
	.recent-searches-box-wrapper h3, .employeee-name-id .name {
		font-size: 13px;
		padding-top: 2px;
	}
	.each-recent-searches-box .imgae-area, .employeee-image .imgae-area {
		width: 60px;
		height: 60px;
	}
	.container {
		padding:0;
	}
	.mobile-login-area .each-mobile-login-area h4 {
		font-size:16px;
	}
	.login-input-area input {
		font-size:16px;
	}
	.login-page-wrapper h5 {
		font-size: 14px;
	}
	.login-page-wrapper h2 {
		font-size: 24px;
	}
	.login-input-area .verify-btn{
		font-size:16px;
	}
	.login-page-wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	#dropdown ul li a {
		font-size: 12px;
		padding: 10px 12px 10px 10px;
}
@media (max-width:375px) {
	.employeee-profile-name h4 {
		font-size: 9px;
	}
	.employeee-personal-info h3{
		 font-size:9px;
	}
}
